@import '../../theme/css/colours.scss';

.technologies {
    height: 180px;
    width: 100vw;
    white-space: nowrap;
    overflow: auto;
    background-color: $colour-white;
}

.technology {
    height: 100px;
    width: 100px;
    margin: 40px 20px 40px 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    animation: infiniteScroll 40s linear infinite;
}

.techcontainer {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology img {
    max-width: 70%;
    max-height: 70%;
    box-sizing: border-box;
    vertical-align: middle;
    margin: auto;
}

@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc((100px + 40px) * -29));
    }
}
