@import '../../theme/css/colours.scss';

.headercontainer {
    width: 100vw;
    height: 10vh;
}

.header {
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    background-color: $colour-white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1000;
}

.headerspacer  {
    width: 100vw;
    height: 10vh;
}

.logo {
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.logo img {
    max-height: 10vh;
    max-width: 15vw;
}

.links {
    width: 85vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    background-color: $colour-white;
}

.link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $colour-dark-blue;
    font-size: 25px;
    font-weight: bold;
}

.link:hover {
    color: $colour-yellow;
}

.menuBarContainer {
    display: none;
    width: 30vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.menuBar {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.menuBar hr {
    height: 2px;
    width: 100%;
    border: 1.5px solid $colour-dark-blue;
    background-color: $colour-dark-blue;
    border-radius: 2px;
}

@media screen and (max-width: 650px) {

    .logo {
        width: 70vw;
        padding-left: 30vw;
    }

    .links {
        display: none;
        width: 100vw;
        height: 90vh;
        flex-direction: column;
    }

    .menuBarContainer {
        display: flex;
    }
}