@import '../../theme/css/colours.scss';

.headercontainer {
    width: 100vw;
    height: 10vh;
}

.header {
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    background-color: $colour-dark-blue;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: fixed;
}

.headerspacer  {
    width: 100vw;
    height: 10vh;
}

.logo {
    height: 10vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-height: 10vh;
    max-width: 15vw;
}

.links {
    width: 85vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $colour-white;
    font-size: 18px;
}

.link:hover {
    color: $colour-yellow;
}